<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Nopcommerce Automation Test" verbose="1" >
    <parameter name="userUrl" value="https://demo.nopcommerce.com"/>
    <parameter name="adminUrl" value="https://admin-demo.nopcommerce.com"/>
    <test name="Run on Chrome" >
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.nopcommerce.user.Level_08_Dynamic_Locator_SideBar" />
        </classes>
    </test>


</suite>